.report-container {
  padding-top: 100px;
}

.report-btn-group {
    width: fit-content;
    margin: auto;
}

.monster-btn {
    background-color: #F277C636;;
    border-style: none;
    border:solid 1px #F277C6;
    border-radius: 82px;
    padding: 10px 20px;
    cursor: pointer;
}