
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  background-color: #f3f3f3;
  font-family: "Roboto";
}

.container {
  width: 90%;
  margin: auto;
  overflow-y: hidden;
}

.font-600 {
  font-weight: 600;
  font-size: 40px;
}

.font-48 {
  font-weight: 700;
  font-size: 48px;
}

.color-pink {
  color: #F277C6;
}

.color-white {
  color: #FFFFFF;
}

.bg-black {
  background-color: #141414;
  color: white;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-pink {
  background-color: #F277C6;
}

.bold {
  font-weight: 700;
}

.font-30 {
  font-weight: 600;
  font-size: 30px;
}

.fit-content {
  width: fit-content !important;
}

.text-center{
  text-align: center;
}

.font-35 {
  font-weight: 700 !important;
  font-size: 35px !important;
}

.font-45 {
  font-weight: 700;
  font-size: 45px;
}

.color-red {
  color: #ff80ff;
}

.color-blue {
  color: #8080ff;
}