
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100vw;
  background-color: #f3f3f3;
  font-family: "Roboto";
}

.container {
  width: 90%;
  margin: auto;
  overflow-y: hidden;
}

.font-600 {
  font-weight: 600;
  font-size: 40px;
}

.font-48 {
  font-weight: 700;
  font-size: 48px;
}

.color-pink {
  color: #F277C6;
}